<% if @contacts.length > 0 %>
<h1>Contact List:</h1>
<% end %>

<ul>
  <% @contacts.each do |contact| %>
    <li><a href="/contact/<%= contact.id %>"><%= contact.first_name %></a> </li>
  <%end%>
</ul>

<form action="/post_contact" method="post">
  <div class="">
    <h3><label for="">Add Contact</label></h3>
  </div>
  <div class="">
    <label for="">First Name</label>
    <input type="text" name="first_name" value="">
  </div>
  <div class="">
    <label for="">Last Name</label>
    <input type="text" name="last_name" value="">
  </div>
  <div class="">
    <label for="">Job</label>
    <input type="text" name="job" value="">
  </div>
  <div class="">
    <label for="">Company</label>
    <input type="text" name="company" value="">
  </div>
  <div class="">
    <label for="">Phone Number</label>
    <input type="text" name="phone_number" value="">
  </div>
<label for="">Mailing</label>
  <div class="" style="padding-left: 42px;">
    <div class="">
      <label for="">Street</label>
      <input type="text" name="mailing_address_street" value="">
    </div>
    <div class="">
      <label for="">City</label>
      <input type="text" name="mailing_address_city" value="">
    </div>
    <div class="">
      <label for="">Zip</label>
      <input type="text" name="mailing_address_zip" value="">
    </div>
    <div class="">
      <label for="">State</label>
      <input type="text" name="mailing_address_state" value="">
    </div>
    <div class="">
      <label for="">Type</label>
      <input type="text" name="mailing_address_type" value="">
    </div>
  </div>
  <div class="">
    <label for="">Email</label>
    <input type="text" name="email_address" value="">
  </div>
  <div class="" style="padding-top: 12px;">
    <button type="submit" name="button">"Add"</button>
  </div>
</form>
